<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sheeps.menu">

    <application>
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
        <activity
            android:name=".ui.NoticeListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />

        <activity
            android:name=".ui.h5.H5Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" />
    </application>

</manifest>
